main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
.page_404 {
  padding: 60px O;
  margin-left: 155px;
  background: #fff;
  font-family: 'Arvo', Nunito Sans;
}
.page_404 img {
  width: 100%;
}
.four_zero_four_bg {
  background-image: url('../public/error.gif');
  height: 400px;
  background-position: center;
}
.four_zero_four_bg hl {
  font-size: 80px;
}
.four_zero_four_bg h3 {
  font-size: 80px;
}
.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px O;
  display: inline-block;
  text-decoration: none;
}
.contant_box_404 {
  margin-top: -s 0px;
}
